.columnsContainer {
    display: flex;

}

.column {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgb(128 128 128 / 0.2);
    border: 1px solid ghostwhite;
}

.resizeBorder {
    position: absolute;
    width: 4px;



    /*inset: 0 0 0 ;*/
    top: 0;
    bottom: 0;
    right: 0;

    background: red;
    cursor: col-resize;
}