.columnsContainer {
    display: flex;

}

.column {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    background: var(--sideIndexBg);
    border: var(--tableBorder);
}

.resizeBorder {
    position: absolute;
    width: var(--resizeSize);

    /*inset: 0 0 0 ;*/
    top: 0;
    bottom: 0;
    right: 0;

    background: var(--resizeBg);
    cursor: col-resize;
    z-index: 3;
}

.resizeBorder.onResize {
    background: var(--onResizeBg);

}