.cell {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

    position: relative;
    border: 1px solid ghostwhite;
    overflow: hidden;
}

.box {
    overflow: hidden;
}

.row {
    display: flex;
}