.cell {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    background: #f2fbee;
    border: 1px solid ghostwhite;
}

.row {
    display: flex;
}