.cell {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    background: var(--headerCellBg);
    border: var(--tableBorder);
    overflow: hidden;
}

.row {
    display: flex;
}